In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("placed.csv")
dataset.head(3)

   cgps  score  placed
0  8.14   6.52       1
1  6.17   5.17       0
2  8.27   8.26       1

In [9]:
dataset.drop(columns=["placed"],inplace=True)

In [10]:
dataset.head(3)

   cgps  score
0  8.14   6.52
1  6.17   5.17
2  8.27   8.26

In [11]:
x = dataset.iloc[:,:-1]
y = dataset["score"]

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
from sklearn.model_selection import cross_val_score

In [27]:
p = cross_val_score(LinearRegression(),x,y,cv=5)

In [28]:
p.sort()
p*100

array([64.25165862, 93.25468889, 95.56306004, 96.80970748, 97.05527275])

In [29]:
p = cross_val_score(LinearRegression(),x,y,cv=KFold(n_splits=10))

In [30]:
p.sort()
p*100

array([52.30823673, 75.79122216, 91.69495436, 94.35111466, 95.21728637,
       96.04275997, 96.37869848, 96.72675094, 97.07900258, 97.57456638])

In [18]:
x_data = new_data.iloc[:,:-1]
y_data = new_data["score"]

In [16]:
new_data = dataset.head(10)

In [13]:
from sklearn.model_selection import LeaveOneOut, LeavePOut, KFold, StratifiedKFold

In [19]:
lo = LeaveOneOut()

for train, test in lo.split(x_data,y_data):
    print(train,test)

[1 2 3 4 5 6 7 8 9] [0]
[0 2 3 4 5 6 7 8 9] [1]
[0 1 3 4 5 6 7 8 9] [2]
[0 1 2 4 5 6 7 8 9] [3]
[0 1 2 3 5 6 7 8 9] [4]
[0 1 2 3 4 6 7 8 9] [5]
[0 1 2 3 4 5 7 8 9] [6]
[0 1 2 3 4 5 6 8 9] [7]
[0 1 2 3 4 5 6 7 9] [8]
[0 1 2 3 4 5 6 7 8] [9]

In [20]:
lp = LeavePOut(p=2)

for train,test in lp.split(x_data,y_data):
    print(train,test)

[2 3 4 5 6 7 8 9] [0 1]
[1 3 4 5 6 7 8 9] [0 2]
[1 2 4 5 6 7 8 9] [0 3]
[1 2 3 5 6 7 8 9] [0 4]
[1 2 3 4 6 7 8 9] [0 5]
[1 2 3 4 5 7 8 9] [0 6]
[1 2 3 4 5 6 8 9] [0 7]
[1 2 3 4 5 6 7 9] [0 8]
[1 2 3 4 5 6 7 8] [0 9]
[0 3 4 5 6 7 8 9] [1 2]
[0 2 4 5 6 7 8 9] [1 3]
[0 2 3 5 6 7 8 9] [1 4]
[0 2 3 4 6 7 8 9] [1 5]
[0 2 3 4 5 7 8 9] [1 6]
[0 2 3 4 5 6 8 9] [1 7]
[0 2 3 4 5 6 7 9] [1 8]
[0 2 3 4 5 6 7 8] [1 9]
[0 1 4 5 6 7 8 9] [2 3]
[0 1 3 5 6 7 8 9] [2 4]
[0 1 3 4 6 7 8 9] [2 5]
[0 1 3 4 5 7 8 9] [2 6]
[0 1 3 4 5 6 8 9] [2 7]
[0 1 3 4 5 6 7 9] [2 8]
[0 1 3 4 5 6 7 8] [2 9]
[0 1 2 5 6 7 8 9] [3 4]
[0 1 2 4 6 7 8 9] [3 5]
[0 1 2 4 5 7 8 9] [3 6]
[0 1 2 4 5 6 8 9] [3 7]
[0 1 2 4 5 6 7 9] [3 8]
[0 1 2 4 5 6 7 8] [3 9]
[0 1 2 3 6 7 8 9] [4 5]
[0 1 2 3 5 7 8 9] [4 6]
[0 1 2 3 5 6 8 9] [4 7]
[0 1 2 3 5 6 7 9] [4 8]
[0 1 2 3 5 6 7 8] [4 9]
[0 1 2 3 4 7 8 9] [5 6]
[0 1 2 3 4 6 8 9] [5 7]
[0 1 2 3 4 6 7 9] [5 8]
[0 1 2 3 4 6 7 8] [5 9]
[0 1 2 3 4 5 8 9] [6 7]
[0 1 2 3 4 5 7 9] [6 8]
[0 1 2 3 4 5 7 8] [6 9]
[0 1 2 3 4 5 6 9] [7 8]
[0 1 2 3 4 5 6 8] [7 9]
[0 1 2 3 4 5 6 7] [8 9]

In [21]:
kf = KFold(n_splits=5)

for train,test in kf.split(x_data,y_data):
    print(train,test)

[2 3 4 5 6 7 8 9] [0 1]
[0 1 4 5 6 7 8 9] [2 3]
[0 1 2 3 6 7 8 9] [4 5]
[0 1 2 3 4 5 8 9] [6 7]
[0 1 2 3 4 5 6 7] [8 9]

In [23]:
#sk = StratifiedKFold(n_splits=5)   this is use in only classification

#for train,test in sk.split(x_data,y_data):
   # print(train,test)